@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


body {
    background-image: url('assets/preview.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
} 

h1 {
    text-align: center; 
    color: white;
}

h3 {
    text-align: center;
    color: white; 
}

#link {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Bubblegum Sans', cursive;
}


  a:link {
    color: rgb(243, 243, 243);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(36, 14, 235);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

