h1 {
    text-align: center; 
  }
  
  h3, h2 {
    text-align: center; 
  }
  
  #HH {
    text-align: center; 
  }
  
  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #Sup, #Suh, #Sut {
    text-align: center; 
  }
  
figcaption {
    text-align: center; 
}

  @keyframes bgcolor {
      0% {
          background-color: #45a3e5
      }
  
      30% {
          background-color: #66bf39
      }
  
      60% {
          background-color: #eb670f
      }
  
      90% {
          background-color: #f35
      }
  
      100% {
          background-color: #864cbf
      }
  }
  
  body {
      -webkit-animation: bgcolor 5s infinite;
      animation: bgcolor 5s infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
  }